# This is Git's per-user configuration file.
[user]
	name = Florian Dejonckheere
	email = florian@floriandejonckheere.be
	signingKey = 41AAE75CC027FA6D1CE5F0D5E7CCC666F2D5BFC2
[commit]
	gpgsign = true
[gpg]
	program = gpg
[pull]
	ff = only
[rebase]
	updateRefs = true
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
