# This is Git's per-user configuration file.
[user]
	name = Florian Dejonckheere
	email = florian@floriandejonckheere.be
	signingKey = 2BEDDCA4D7711645
[commit]
	gpgsign = true
[gpg]
	program = gpg
[pull]
	ff = only
[rebase]
	updateRefs = true
[push]
	autoSetupRemote = true
