[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Fusuma
Comment=Multitouch gesture recognizer
Exec=rvm 3.2.1@florian exec fusuma
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

