@import 'colors.css';

.xfce4-panel.panel {
    background-color: #3C3E40;
    background-color: rgba(0, 0, 0, 0);
}
.xfce4-panel.panel button.flat, .xfce4-panel.panel button.sidebar-button {
    color: #DFDFDF;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.7);
    -gtk-icon-shadow: 0 -1px rgba(0, 0, 0, 0.7);
}
.xfce4-panel.panel button.flat:hover, .xfce4-panel.panel button.sidebar-button:hover {
    color: #DFDFDF;
    outline-color: rgba(243, 243, 245, 0.3);
    text-shadow: 0 1px rgba(0, 0, 0, 0.7);
    -gtk-icon-shadow: 0 1px rgba(0, 0, 0, 0.7);
}
.xfce4-panel.panel button.flat:active, .xfce4-panel.panel button.sidebar-button:active, .xfce4-panel.panel button.flat:checked, .xfce4-panel.panel button.sidebar-button:checked {
    color: #DFDFDF;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
    -gtk-icon-shadow: 0 -1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
